<%- include('includes/header') %>

  <body>
    <div class="card" style="width: 18rem;">
        <img src="https://totalgym.com/cdn/shop/files/DSC05416_dark_2000x.jpg?v=1613760603" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Life is GYM now or never </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go GYM</a>
        </div>
      </div>
  </body>
  <%- include('includes/footer') %>
